
.burger {
    color: var(--base-color);
    cursor: pointer;
    margin-bottom: 2px;
}

.burgerMenuWrap {
    display: none;
    position: relative;
    margin-top: 10px;
}

.burgerMenu {
    position: absolute;
    width: max-content;
    list-style: none;
    background-color: var(--base-bg-color);
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px;
    color: var(--main-brown-color);
    top: 100%;
    right: -600%;
    transition: all .4s ease;
}

.burgerMenuVisible {
    right: -10px;
    opacity: 1;
}

.burgerMenu li {
    font-size: 1.2em;
    margin-bottom: 1.5em;
}

.burgerMenu li:last-child {
    margin-bottom: 0;
}

.burgerMenu li a:hover {
    color: var(--base-color);
}

@media screen and (max-width: 960px) {
    .burgerMenuWrap {
        display: block;
    }
}