.header {
    background-color: var(--base-bg-color);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    opacity: 0;
    display: flex;
    align-items: center;
    transition: 1s ease all;
}

.headerShow {
    opacity: 0.85;
}

.headerFullShow {
    opacity: 1;
    box-shadow: 0 0 25px 0 var(--semi-beige-color);
}

.header__content {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}

.logoBox {
    height: 70px;
}

.logoBox img {
    height: 100%;
}

.menuAndCalcWrap {
    display: flex;
    gap: 30px;
    align-items: center;
}

.phone {
    color: var(--main-brown-color);
    font-size: 1.1em;
}

@media screen and (max-width: 960px) {
    .header {
        height: 60px;
    }
    .headerShow {
        opacity: 1;
        box-shadow: 0 0 25px 0 var(--semi-beige-color);
    }
    .header__content {
        padding: 0 10px;
    }
    .logoBox {
        height: 50px;
    }
}
