.commonBlockOnly {
    background-color: var(--base-bg-color);
}

.advantagesWrap {
    margin: 0 auto;
    max-width: 1200px;
    padding: 70px 20px;
}

.photoBlockWrap {
    margin: 0 auto;
    max-width: 1200px;
}



@media screen and (max-width: 1200px) {
    .advantagesWrap {
        padding: 70px 30px;
    }
}

@media screen and (max-width: 640px) {
    .advantagesWrap {
        padding: 50px 10px;
    }
}