.personalCards {
    margin: 30px auto;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 60px;
}

.personalCard {
    border-radius: 10px;
    width: 40%;
    border: 1px solid var(--semi-beige-color);
    padding: 20px;
    background-color: var(--base-bg-color);
    line-height: 1.2em;
}

.photo {
    width: 100%;
}

.name {
    font-weight: 600;
    font-size: 0.9em;
}

.role {
    font-weight: 500;
    font-size: 0.8em;
}

.description {
    padding-top: 8px;
    font-size: 0.8em;
}

@media screen and (max-width: 960px) {
    .personalCards {
        row-gap: 6vw;
    }
}

@media screen and (max-width: 640px) {
    .personalCard {
        width: 70%;
        margin: 0 auto;
    }
    .description {
        font-size: 0.75em;
    }
}

@media screen and (max-width: 480px) {
    .personalCard {
        width: 90%;
        margin: 0 auto;
    }
}