.menu {
    display: flex;
    gap: 20px;
    list-style: none;
    /*text-transform: uppercase;*/
    font-size: 0.95em;
    font-weight: 500;
}

.menu li a {
    display: block;
    padding: 7px 0;
    position: relative;
    transition: 0.1s all ease;
}

.menu li a:hover {
    color: var(--main-brown-color);
}

.menu li a:after {
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    background-color: var(--main-brown-color);
    width: 0;
    height: 2px;
    transition: all 0.2s ease;
}

.menu li a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-width: 1000px) {
    .menu {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 960px) {
    .nav {
        display: none;
    }
}
