.form {
    width: 500px;
    margin-left: -100%;
    max-width: 90%;
    background-color: var(--base-bg-color);
    background-image: url(../../assets/images/bgr2.png);
    background-size: cover;
    background-position: center center;
    padding: 70px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.formNormal {
    margin-left: 0;
    transition: 1s ease all;
}

.closeForm {
    position: absolute;
    top: -30px;
    right: -30px;
    color: var(--ex-light-beige-color);
    cursor: pointer;
    transition: color 0.2s ease;
}

.closeForm:hover {
    color: var(--light-semi-grey-color);
}

.form__inputWrap {
    position: relative;
    margin-bottom: 60px;
    width: 100%;
}

.form__input {
    width: 100%;
    padding: 5px;
    border-bottom: 1px solid var(--light-grey-color);
    background-color: transparent;
}

.form__input::placeholder,
.form__textarea::placeholder {
    color: var(--light-grey-color);
    font-size: 0.9em;
}

.error {
    position: absolute;
    font-weight: 300;
    bottom: -2em;
    left: 5px;
    font-size: 0.75em;
    color: var(--red-color);
    user-select: none;
}

.form__textarea {
    margin-bottom: 40px;
    background-color: var(--base-bg-color);
    width: 100%;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid var(--semi-beige-color);
    resize: none;
}

@media screen and (max-width: 960px) {
    .form {
        margin-top: 35px;
    }
}

@media screen and (max-width: 640px) {
    .form {
        padding: 30px;
    }
    .form__inputWrap {
        margin-bottom: 20px;
    }
    .form__textarea {
        margin-bottom: 0;
    }
    .form__input::placeholder,
    .form__textarea::placeholder {
        font-size: 0.8em;
    }
}
