.topImageBlockWrap {
    position: relative;
    opacity: 0;
    transition: opacity 1s ease;
}

.topBlockVisible {
    opacity: 1;
}

.topImageBlock {
    height: 100vh;
    background-color: var(--base-bg-color);
    background-image: url(../../assets/images/001_main.png);
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.topImageBlock__content {
    position: absolute;
    left: calc(50% - 600px);
    height: 100%;
    top: 0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoWrap {
    width: 40vw;
    margin: 0 auto;
    display: none;
    margin-bottom: 20px;
}

.logoWrap img {
    width: 100%;
}

.mainTitle {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 2.2em;
    line-height: 1.3em;
    color: var(--main-peach-color);
}

.subTitle {
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.5em;
}

.wipingHide {
    margin-left: -100px;
    opacity: 0;
}

.wipingShow {
    transition: 1.5s ease all;
    opacity: 1;
    margin-left: 0;
}

@media screen and (max-width: 1200px) {
    .topImageBlock__content {
        left: 0;
    }
    .mainTitle {
        font-size: 3.3vw;
    }
    .subTitle {
        font-size: 2.1vw;
    }
}

@media screen and (max-width: 960px) {
    .topImageBlockWrap {
        margin-top: 60px;
    }

    .topImageBlock {
        background-image: url(../../assets/images/001_main_pad.png);
        height: 70vw;
    }

    .topImageBlock__content {
        background-color: var(--base-bg-color);
        position: static;
        padding: 30px;
    }

    .mainTitle {
        font-size: 5vw;
    }

    .subTitle {
        font-size: 3vw;
    }
    .btnWrap {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 640px) {
    .topImageBlock {
        background-image: url(../../assets/images/001_main_mobile.png);
    }
    .topImageBlock__content {
        padding: 20px 20px 30px;
    }

    .mainTitle {
        font-size: 6vw;
        text-align: center;
    }

    .subTitle {
        font-size: 4vw;
        text-align: center;
    }

    .logoWrap {
        display: block;
    }
}
