.topImageBlock {
    background-image: url(../../assets/images/001_main.jpeg);
    height: 100vh;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 960px) {
}

.topImageBlock__content {
    max-width: 1200px;
    padding: 0 10px;
}

.leftBlockWrap {
    width: 45%;
}

.mainTitle {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 2.2em;
    line-height: 1.3em;
    color: var(--main-cyan-color);
}

.subTitle {
    margin-bottom: 40px;
    font-weight: 300;
    font-size: 1.4em;
    line-height: 1.5em;
}

.wipingHide {
    margin-left: -100px;
    opacity: 0;
}

.wipingShow {
    transition: 1.5s ease all;
    opacity: 1;
    margin-left: 0;
}
