.commonBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 70px 0;
}

.title {
    padding-bottom: 30px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-brown-color);
}

.about {
    /*background-color: var(--main-brown-color);*/
    background-image: url(../../assets/images/photo-block/bgr.png);
}

.about__content {
    max-width: 900px;
    padding: 0 10px;
    text-align: center;
}

.about .title {
    /*color: var(--base-bg-color);*/
}

.services {
    background-color: var(--ex-light-beige-color);
}

.services__content {
    padding: 0 10px;
}

.personal {
    background-color: var(--ex-light-beige-color);
}

.personal__content {
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
}

.pricelist {
    background-color: var(--ex-light-beige-color);
}

.reviews__content {
    width: 100%;
    padding: 0 10px;
    max-width: 1200px;
}

.contacts {
    background-color: var(--ex-light-beige-color);
    border-top: var(--light-beige-border);
}

.contacts__content {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: 0 10px;
}

@media screen and (max-width: 640px) {
    .commonBlock {
        padding: 50px 0;
    }
}
