.commonBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.title {
    padding-bottom: 30px;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;
    color: var(--main-brown-color);
}

/* О нас */
.about {
    background-color: var(--base-bg-color);
    background-image: url(../../assets/images/photo-block/bgr.png);
}

.about__content {
    max-width: 900px;
    padding: 0 10px;
    text-align: center;
}

/* Услуги и цены */
.services {
    background-color: var(--ex-light-beige-color);
}

.services__content {
    padding: 0 10px;
}

/* Специалисты */
.personal {
    background-color: var(--ex-light-beige-color);
}

.personal__content {
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
}

/* Отзывы */
.reviews {
    /*background-color: #ffffffef;*/
}

.reviews__content {
    width: 100%;
    max-width: 1200px;
    padding: 0 10px;
}

.backImageBlock {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    opacity: 0;
    top: 0;
    left: 0;
    background-image: url(../../assets/images/bgr-reviews.png);
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.showBackImageBlock {
    transition: 0.5s ease opacity;
    opacity: .1;
}

/* Контакты */
.contacts {
    background-color: var(--ex-light-beige-color);
    border-top: var(--light-beige-border);
}

.contacts__content {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: 0 10px;
}

@media screen and (max-width: 640px) {
    .commonBlock {
        padding: 50px 0;
    }
}
