.yandexMap {
    position: relative;
    overflow: hidden;
    border: var(--light-beige-border);
}

.yandexMap iframe {
    width: 100%;
    height: 400px;
    position: relative;
}

.contactsItem {
    margin-bottom: 1em;
}

.contactsItem a {
    text-decoration: underline;
}

.contactsItem a:hover {
    text-decoration: none;
}

.itemKey {
    color: var(--main-peach-color);
    font-weight: 500;
}

.socialWrap {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 25px auto;
    width: fit-content;
}

.socialLogo {
    width: 45px;
}

.socialWrap a {
    color: var(--main-peach-color);
    font-weight: 500;
    text-decoration: underline;
}

.socialWrap a:hover {
    text-decoration: none;
}

.btnWrap {
    margin: 30px auto 40px;
    width: fit-content;
}