@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
    --base-color: #111;
    --base-bg-color: #fffff7;
    --main-brown-color: #a8977b;
    --main-peach-color: #d7b56d;
    --main-light-peach-color: #ecd096;
    /*--main-cyan-color: #0088cc;*/
    --gold-color: #edb12f;
    --bg-turquoise-color: #deffee;
    --ex-light-grey-color: hsl(50, 10%, 90%);
    --light-grey-color: hsl(50, 10%, 75%);
    --light-semi-grey-color: #aaa;
    --semi-grey-color: #888;
    --dark-grey-color: #646464;
    --ex-light-beige-color: #faf2e1;
    /*--ex-light-beige-color: #f5f5e9;*/
    --light-beige-color: #e0e0d1;
    --semi-beige-color: #d4d4c6;
    --brown-grey-color: #665c47;
    --light-orange-color: #ffd580;
    --semi-orange-color: #ffbb33;
    --red-color: #ff0000;
    --orange-color: #ee7700;
    --light-beige-border: 1px solid var(--light-beige-color);
    --slider-button-bg: #80808066;
    --slider-button-bg-hover: #808080b3;
    --slider-button-text: #f5f5e9b3;
    --slider-button-border: 1px solid #ccccbe88;
    --slider-indicators-color: #808080;
    --green-color: #008c75;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: var(--base-color);
    font-size: 18px;
    line-height: 1.5em;
}

input,
textarea,
button {
    outline: none;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

.mainBrownColor {
    color: var(--main-brown-color);
}

.mainPeachColor {
    color: var(--main-peach-color);
}

.hidden {
    display: none;
}

.transparent {
    opacity: 0;
}

.no_wrap {
    white-space: nowrap;
}

.darkTotalWindow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: var(--base-color);
    opacity: 0.9;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.transparentTotalWindow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.hideCommon {
    opacity: 0;
    margin-top: -50px;
}

.showCommon {
    transition: 1.5s ease all;
    margin-top: 0;
    opacity: 1;
}

@media screen and (max-width: 960px) {
    html {
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 640px) {
    .transparentTotalWindow {
        position: absolute;
    }
}
